.container {
  padding: 15px;
  background: #0D1117;
  border: 1px solid azure;
  height: 100%;
  overflow-y: auto;
}

.collapsibleContentInner {
  padding: 10px;
  border: 1px solid rgb(129, 94, 94);
  background: lightgrey;
  border-top: 0;
}

.collapsibleTrigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  border: 1px solid white;
  padding: 5px;
  background: lightseagreen;
  color: white;
}

.resultInfo {
  margin: 10px 0;
  color: lightseagreen;
}