.container {
  width: 100%;
  height: 200px;
  margin: auto;
  padding: 10px;
}

.container .progress-left {
  width: 200px;
  height: 100%;
  background: rgb(187, 187, 255);
  float: left;
}

.container .progress-left .progress {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.container .progress-left .progress .progress-typo {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 150px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
}

.container .progress {
  margin-left: 20px;
  height: 100%;
  width: 150px;
}

.container .progress-right {
  margin-left: 220px;
  height: 100%;
  width: 300px;
}