.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  padding: 10px;
}

.container .progStatus {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container .progStatus .progRight {
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .progStatus .progLeft .progBox {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.container .progStatus .progLeft .progBox .progVal {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 150px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
}