.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.advanced {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.advanced .btnAdvanced {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.advanced .btnAdvanced .content {
  flex: 0 0 120px;
  color: rgb(54, 54, 54);
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
  user-select: none;
}

.options-visible {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.options-hidden {
  display: none;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.textField {
  color: white !important;
}
.textField label {
  color: red !important;
}

.buttons .btnSetWordlist {
  white-space: nowrap
}