.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container h1 {
  color: azure;
  margin: 20px;
  text-align: center;
}

.container .formSetter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 20px 0;
}
